@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #ffffff;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-attachment: fixed;
  min-height: 100vh;
  background-image: linear-gradient(to left top, #00183c, #001634, #01142b, #021123, #010d1b, #010d1b, #010d1b, #010d1b, #021123, #01142b, #001634, #00183c);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
